{{ define "main" }}
<div class="hero-about">
  <div class="hero-content">
    <div class="header">
      <h1 class="title">Real-time Image Processing Platform<br>that improves Conversions</h1>
    </div>
    <div class="summary">
      <ul>
        <li>Faster website</li>
        <li>More conversions</li>
        <li>More profit</li>
      </ul>
    </div>
  </div>
  <div class="hero-about-signup-button">
    <a class="callout-btn big-red-btn" href="/customer/#/signup" onclick="window.trackLink('Hero About submit','signup_about_hero')">Sign up</a>
  </div>
</div>

<div class="image-scaling">
  <div class="image-scaling-header"><h2>Real-time Image Processing</h2></div>
  <div class="image-scaling-features">
    <div class="column">
      <div class="card">
        <h3 class="title">Smart Optimization</h3>
        <div class="text">
          Smart optimization automatically improves the size of a single image or the bulk butches of images.
          Our innovative algorythm adjusts the settings of each image to achieve the best possible quality and size.
        </div>
        <div class="image">
          <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/opt.jpg/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="smart optimization"/>
        </div>
        <div class="link">
          <a href="https://help.pixboost.com/api/" target="_blank">Learn about Smart Optimization ></a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h3 class="title">Image Scaling</h3>
        <div class="text">
          The Service supports Resize and Crop operations, which also optimises Original Image during its transformations.
          Image processing occurs in a cloud therefore we scale unlimited amout of images of the size more then 40Mb.
        </div>
        <div class="image">
          <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/scal.jpg/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="images scaling"/>
        </div>
        <div class="link">
          <a href="https://help.pixboost.com/api/" target="_blank">Learn about Image Scaling ></a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h3 class="title">Responsive Image Generation</h3>
        <div class="text">
          Pixboost generates responsive images that support the device and the screen size on which they are being displayed.
          You keep only one image, pass it through the Service, and Pixboost delivers it optimized and resized through the CDN.
        </div>
        <div class="image">
          <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/resp.jpg/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="responsive images"/>
        </div>
        <div class="link">
          <a href="https://help.pixboost.com/integration/react/responsive-images.html" target="_blank">Learn about Responsive Images ></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="gray-formats-bg">
  <div class="formats-header">
    <h2>Next-Generation Formats</h2>
  </div>
  <div class="nextgen-formats">
    <div class="photo">
      <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/webp.jpg/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="webp - next generation format"/>
    </div>
    <div class="card">
      <h3>WebP</h3>
      <div class="text">
        WebP is an image format that provides superior compression for images on the web.
        Pixboost transforms and delivers PNG and JPEG images to the browser in a WebP format. It makes images up to 30% lighter.
      </div>
      <div class="link">
        <a href="https://help.pixboost.com/supported-formats.html" target="_blank">Learn about WebP ></a>
      </div>
    </div>
    <div class="card">
      <h3>AVIF</h3>
      <div class="text">
        Achieve the best performance of your images on modern platforms and get up to 10x size reduction
        comparing to WebP with the same quality
      </div>
      <div class="link">
        <a href="https://help.pixboost.com/supported-formats.html" target="_blank">Learn about AVIF ></a>
      </div>
    </div>
  </div>
</div>

<div class="white-lazyloading-bg">
  <div class="lazyloading-header">
    <h2>Lazy Loading</h2>
  </div>
  <div class="lazyloading-content">
    <div class="card">
      <h3>Loading images only when on a screen</h3>
      <div class="text">
        We are providing out-of-the box lazy loading functionality. Lazy loading is a technique for loading web content when it's needed rather than all at once. We are using the latest web API (intersection observer), that works without performance penalties.
      </div>
      <div class="text">
        <br>Hussle-free integration using Pixboost.JS and Pixboost React libraries.
      </div>
      <div class="link">
        <a href="https://help.pixboost.com/integration/web-dom/lazy-loading.html" target="_blank">Learn about Lazy Loading ></a>
      </div>
    </div>
    <div class="photo">
      <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/lazyloading.jpg/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="lazy loading"/>
    </div>
  </div>
</div>
<div class="cdn-bg">
  <div class="cdn-header">
    <h2>Delivery through CDN + HTTP/2 and HTTP/3</h2>
  </div>
  <div class="cdn-container">
    <div class="photo">
      <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/cdn.jpg/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="cdn"/>
    </div>
    <div class="card">
      <h3>Deliver your images with the best possible speed</h3>
      <div class="text">
        With more than 100 servers around the world your images will be delivered at the best speed to any point of the world,
        from the closest server location to the end user.
        <br>We also provide <a href="https://help.pixboost.com/http2-support.html" target="_blank">HTTP/2</a> and
        <a href="https://help.pixboost.com/http3-support.html" target="_blank">HTTP/3</a> versions of a protocol.
        <br><br>Pixboost will keep your clients safe without performance impact.
      </div>
      <div class="link"><a href="https://medium.com/pixboost/cdn-explained-why-when-and-how-to-use-it-for-your-website-7d360a93cc04" target="_blank">Learn about CDN support ></a></div>
    </div>
  </div>
</div>

<div class="about-phrase-block">
  <div class="about-phrase-container">
    <div class="about-phrase">
      One stop shop for all your image needs
    </div>
    <div class="about-button">
      <a class="callout-btn big-red-btn" href="/customer/#/signup" onclick="window.trackLink('Hero About submit','signup_about_hero')">Try for Free</a>
    </div>
  </div>
</div>

<div class="enterprise-block">
  <div class="enterprise-header">
    <h2>Enterprise support</h2>
  </div>
  <div class="enterprise-content">
    <div class="column">
      <div class="card">
        <h3>Dedicated integration engineer</h3>
        <div class="text">
          We provide 24/7 support, custom features implementation for your needs, integration help,
          unlimited bandwidth, custom pricing.
        </div>
        <div class="image">
          <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/enterp1.jpg/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="enterprise support"/>
        </div>
        <div class="link"><a href="https://pixboost.com/prices/">Learn about customer support ></a></div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h3>Reports and statistics</h3>
        <div class="text">
          We provide custom reports and data analytics of your graphic content.
          We also provide broken images reports and reports on optimised images.
        </div>
        <div class="image">
          <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/enterp2.jpg/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="enterprise reports"/>
        </div>
        <div class="link"><a href="https://help.pixboost.com/">Learn about reports and statistics ></a></div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h3>Fast and easy integration</h3>
        <div class="text">
          We made our integration as easy as possible by providing several options for your convenience:
          we do integration for you, or you can use one of the libraries.
        </div>
        <div class="image">
          <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/enterp3.jpg/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="simple integration"/>
        </div>
        <div class="link"><a href="https://help.pixboost.com/">Learn about integration ></a></div>
      </div>
    </div>
  </div>
</div>

<div class="gray-testimonial-bg gray-testimonial-bg-about">
  <div class="testimonial">
    <div class="person">
      <div class="photo">
        <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/daniel_gladki_photo.jpg/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="Daniel Gladki photo"/>
      </div>
      <div class="quotelogo">
        <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/officeworks_logo.png/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="Officeworks logo"/>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="quote">
      <div class="quote-text">"With the Pixboost Image CDN and Optimisation Service running, we can now easily serve up compressed responsive images
        that still look great but reduce page load times dramatically." </div>
      <div class="name">Daniel Gladki</div>
      <div class="position">Head of eCommerce, Officeworks</div>
      <div class="case-study"><a href="/casestudy-officeworks/" onclick="window.trackLink('CaseStudy','CaseStudy')">Officeworks Case Study</a></div>
    </div>
    <div class="spacer"></div>
  </div>
  <div class="btn-panel">
    <a class="callout-btn big-red-btn" href="/customer/#/signup" onclick="window.trackLink('Signup Pagebottom','signup_pagebottom')">Sign up</a>
  </div>
</div>

<div class="image-scaling">
  <div class="image-scaling-header"><h2>For Developers</h2></div>
  <div class="image-scaling-features">
    <div class="column">
      <div class="card">
        <h3>Pixboost.JS</h3>
        <div class="text">
          You can integrate Pixboost into web app/site that has direct access to the DOM, e.g. jQuery, Backbone.
        </div>
        <div class="image">
          <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/js.jpg/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="JS DOM integration"/>
        </div>
        <div class="link"><a href="https://help.pixboost.com/integration/web-dom/">Learn about Pixboost.JS ></a></div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h3>Pixboost React</h3>
        <div class="text">
          The library supports all major browsers including Chrome, Firefox, Safari and Internet Explorer.
        </div>
        <div class="image">
          <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/react.jpg/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="ReactJS integration"/>
        </div>
        <div class="link"><a href="https://help.pixboost.com/integration/react/">Learn about Pixboost React ></a></div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <h3>Knowledge Base</h3>
        <div class="text">
          All topics concerning setup and usage of a Pixboost Service are covered in out thorough documentation.
        </div>
        <div class="image">
          <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/docs.png/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="documentation"/>
        </div>
        <div class="link"><a href="https://help.pixboost.com/">Our Knowledge Base ></a></div>
      </div>
    </div>
  </div>
</div>

<div class="os-block">
  <div class="os-header">
    <h2>Pixboost Open Source</h2>
  </div>
  <div class="os-content">
    <div class="photo">
      <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/about/os.jpg/optimise?auth=MzY2MjQ4NzQ2Mw__" alt="open source"/>
    </div>
    <div class="card">
      <h3>Community Driven</h3>
      <div class="text">
        Pixboost image manipulation service and libraries sources are accessible for public on github.
        We believe that open source is the most efficient model of software development.

        <br><br>Also, it allows our customers to deploy service into their own data centres.
        <br><br>We are always happy to provide consulting services to customize the solution for your needs.
      </div>
      <div class="link"><a href="https://help.pixboost.com/open-source-version.html">GitHub ></a></div>
    </div>
  </div>
</div>

{{ end }}