{{ define "main" }}

<article class="content-wrapper">
  <h1>Case Study: How we doubled Officeworks website performance</h1>

  <p>
    <b>Industry:</b> Retail, eCommerce
  </p>
  <p>
    <b>Summary:</b> In such a complex and fast-paced industry more and more consumers choose to do their shopping online.
    Hence, the website is the primary sales tool for companies these days due to the growing competitiveness of the
    eCommerce landscape. Officeworks is the largest supplier of office products in Australia; to be a leader in its segment it has to implement
    up-to-date solutions on a daily basis.
  </p>
  <blockquote>
    <img src="daniel_gladki_photo.jpg" alt="Daniel Gladki photo"/>

    <p>With Officeworks being one of the largest online retailers in Australia, traffic to our online store is
      constantly increasing. Overall site performance and page load times are therefore incredibly important
      to our success. A Google Speed Report revealed that one of the major contributors hurting end-user-experience
      was the size of images on our website. </p>

    <p>The team at Pixboost did a fantastic job of implementing their image
      optimisation service on our site, even going as far as building a custom HTML Snippet Generator for our content editors
      so that they could easily add responsive images anywhere on the website, optimising them for various user’s devices
      and screen sizes. </p>

    <p>By integrating Pixboost we have achieved great results, such as
      website time to first render improved by <b>34%</b>,
      website page weight decreased by <b>68%</b>, and
      image data optimised by <b>52%</b>. The service continues to run
      smoothly, helping us to boost the performance of our site and makes the process of managing and preparing images
      for the web so much easier.</p>
    <div class="name">Daniel Gladki</div>
    <div class="position">Head of eCommerce, Officeworks</div>
  </blockquote>

  <h2>The Customer</h2>

  <p>
    Officeworks is one of the largest online retailers in Australia with more than 40000 products presented
    on the website, and with more than 200000 images or these products and other digital media and services
    it provides. Their images broadband is 5Tb.
  </p>
  <img src="Officeworks-stats.jpg" alt="Officeworks stats"/>
  <p>
    Luckily we got a chance to work on this fantastic client as a SaaS and Consulting services provider improving
    image management, image performance and overall performance of the website. Because the Officeworks website is
    acknowledged to be one of the best eCommerce sites in Australia, its improvement was quite a challenge by itself.
  </p>
  <p>
    Let’s get into exciting details!
  </p>

  <h2>Challenges</h2>
  <p>
    <strong>Bulk optimisation of images.</strong> 40000+ products with 200000+ images that are impossible to optimise and
    manage manually. It would take much time and effort to optimise this amount of image data using essential tools
    like Photoshop, Gimp or similar. So, the first task was to automate this process.
  </p>
  <p>
    <strong>Proper sizing and image responsiveness integration.</strong> The backend Product Information Management System has sizing
    limitations and were not able to produce images in the right sizes to fulfil the needs of proper image sizing
    across all devices and all browsers. Therefore, our second task was to implement image scaling on top of this
    system to solve the responsiveness problem.
  </p>
  <p>
    <strong>Integration into various content sources.</strong> Officeworks as a large retailer has an extensive IT infrastructure.
    As a result, it requires more than one source of content. Some of them are an eCommerce platform, CMS, PIM,
    single page apps and a few more. So, they needed several custom solutions for different parts of the application.
    Moreover, it was hard to estimate the costs due to such diverse infrastructure; therefore we had to come up with a
    tool that can calculate the service costs for Officeworks.
  </p>
  <p>
    <strong>Image performance testing and monitoring.</strong> When something is being done manually, there is always a place for a
    mistake as we all are only human. Especially difficult to search for errors when you have that much of image
    data. The processes of website performance testing and monitor needed the implementation.
  </p>
  <img src="website-diagram.jpg" alt="Solution diagram"/>

  <h2>Market Insights</h2>

  <p>
    Online Retail Industry grows at very high speed.
  </p>
  <blockquote>
    Consider the following numbers:
    <ul>
      <li>85% of all population has internet access. <a href="https://www.webalive.com.au/future-of-australian-ecommerce/">Webalive</a></li>
      <li>$37.8b online shopping landscape. <a href="http://www.roymorgan.com/findings/6591-online-shopping-in-australia-june-2015-201512012314">Roy Morgan Research</a></li>
      <li>18,7% growth in online sales in 2017. <a href="https://auspost.com.au/content/dam/auspost_corp/media/documents/2018-ecommerce-industry-paper-inside-australian-online-shopping.pdf">Australian Post</a></li>
    </ul>
  </blockquote>
  <p>
    On the other hand, the competition gets stronger every day. With such prominent players as Gumtree, eBay or a new but
    strong player Amazon on the market it is getting harder to attract customers. So, to win the competition it is more
    important than ever to work on technological improvements such as website user experience, page load time, SEO, design.
  </p>
  <blockquote>Every additional second of load time for a page increase its bounce rate by 7%. <a href="https://neilpatel.com/blog/loading-time/?wide=1">Neil Patel</a></blockquote>
  <p>
    The weight of image content on a web page of online store gravitates on average towards 90% to the whole page weight
    these days. This is happening because online stores sell through showing images to the consumers. Therefore, image
    data is the most important for such websites but at the same time, the most resource consuming.
  </p>
  <p>
    Here is where Pixboost comes into play, with its ability to solve all the website image processing challenges.
  </p>
  <ul>
    <li>Real-time Image processing: smart optimisation, responsive images support, lazy loading, HTTP/2 support, WebP support.</li>
    <li>Fast and efficient Image CDN that delivers images globally at a high speed</li>
    <li>Expert knowledge in enterprise systems development and scaling</li>
  </ul>
  <p>
    So, to solve all image optimisation problems on a website means to resolve a significant performance challenge.
  </p>

  <h2>Solutions</h2>
  <p>
    Apart from Pixboost SaaS integration we have created a few custom-made solutions and provided training services for
    Officeworks employees. So, the solutions created and the services provided are:
  </p>
  <p>
    <strong>Pixboost integration.</strong> Through the integration of Pixboost we have improved the overall performance of Officeworks website by:
  </p>
  <ul>
    <li>decreasing the page load time,</li>
    <li>reducing the images sizes,</li>
    <li>providing responsiveness support,</li>
    <li>providing CDN delivery of images,</li>
    <li>providing advanced features Http/2, Lazy Loading, WebP that increased the speed of the website even more.</li>
  </ul>
  <img src="systems-diagramm.jpg" alt="components diagram"/>

  <p>
    Developed a solution architecture to integrate Pixboost Image Processing Platform with different modules of a website
    (CMS, PIM, single page apps). Moreover, we automated image optimisation and scaling process without the need of manual
    labour or third-party graphics editors (Photoshop, Lightroom or similar).
  </p>
  <p>
    <strong>IBM WebSphere Commerce integration.</strong> Provided a proper Pixboost integration using the URL API.
  </p>
  <img src="web-commerse-diagram.jpg" alt="IBM WebCommerce architecture"/>
  <p>
    <strong>Cost Estimator.</strong>We developed and successfully implemented a custom-made solution which analyses log files to calculate
    the daily volume of images traffic for Officeworks. This approach let us forecast the future cost of the service for
    the website of that size.
  </p>
  <img src="cost-estimator.jpg" alt="cost estimation solution"/>
  <p>
    <strong>Snippet Generator and Educational Sessions.</strong>Created a custom-made application for the marketing department to automate the image preparation
    for Officeworks website. They do not need to write HTML/CSS to insert images on the site which is very time-consuming
    for non-tech employees. We also provided training sessions for Marketing and eCommerce departments on how to use Snippet
    Generator and how fast images impact website performance. <a href="Optimisation-SnippetGeneratorGuide.pdf">Download optimization guide</a>.
  </p>
  <img src="snippet-generator.jpg" alt="Snippet Generator Tool"/>
  <p>
    Please note, Cost Estimator and Consulting Services are available on request.
  </p>
  <div class="btn-panel">
    <a class="btn btn-lg btn-green" href="/customer/#/signup" onclick="window.trackSignup('CaseStudy: Middle')">Sign up</a>
  </div>

  <h2>Results</h2>
  <p>
    This case study is entirely devoted to the results we were able to achieve for Officeworks online store. So, here they are:
  </p>
  <ul>
    <li>More than 200000 images optimised.</li>
    <li>Highly effective on 5Tb broadband.</li>
    <li>Overall website images' load time improvement tripled.</li>
    <li>Overall website images' weights decreased by 68%.</li>
    <li>All website image data optimised by 34%.</li>
    <li>Optimized landing pages by not loading offscreen images.</li>
    <li>Found and fixed the broken images (500+ products)</li>
    <li>Reduced labour costs by automating the image preparation for non-tech employees.</li>
    <li>Reduced cost of using Photoshop or similar applications.</li>
    <li>Reduced cost of running the original solution.</li>
    <li>Integration into IBM WebCommerce, CMS, PIM, single page apps and a few more.</li>
    <li>Provided custom-made apps Cost Estimator and Snippet Generator.</li>
    <li>Improved the process of website performance monitoring and images quality testing.</li>
  </ul>
  <p>
    More to come. Considering such a tremendous website performance improvement, we are
    expecting to see improvements in Google ranking and overall customer satisfaction which we
    add to this study when we get these stats.
  </p>

  <h2>Stats</h2>
  <p>
    Performance testing and measurements before and after integrating Pixboost on the website was
    an essential part of our work on this client as research and analysis are best ways to tell were we successful or not.
  </p>
  <p>
    What can be more impressive than numbers, right?
  </p>
  <p>
    Pages we have measured:
  </p>
  <ul>
    <li><a href="https://officeworks.com.au">Officeworks homepage</a></li>
    <li><a href="https://www.officeworks.com.au/shop/SearchDisplay?searchTerm=ipad&storeId=10151&langId=-1&pageSize=24&beginIndex=0&sType=SimpleSearch&resultCatEntryType=2&showResultsPage=true&searchSource=Q&pageView=">Search “iPad”</a></li>
    <li><a href="https://www.officeworks.com.au/shop/officeworks/p/ipad-pro-12-9-256gb-wifi-cellular-space-grey-ip212c256y">PDP</a></li>
    <li><a href="https://www.officeworks.com.au/shop/officeworks/c/technology">Category</a></li>
    <li><a href="https://www.officeworks.com.au/shop/officeworks/c/technology/cameras-drones">Sub Category</a></li>
  </ul>

  <h3>Initial load</h3>

  <p>The number of images on the initial load before and after. By integrating lazy loading we were able to reduce the
    number of images that improved performance.
  </p>
  <div class="block-embed">
    <iframe width="699" height="432" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQu0U6lTJdwG42LMFSSWXBT1bhVhSLPquZDz9xMlNt69uIUlRKeHrrkfsVALzRICbtW613R6Oe-hJmz/pubchart?oid=225090157&amp;format=interactive"></iframe>
  </div>
  <h3>Image size</h3>
  <p>
    The overall size of the images before and after. By using the correct size of images and next-gen format, like
    WebP we were able to reduce the size of the images dramatically.
  </p>
  <div class="text-block block-embed">
    <iframe width="698" height="431" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQu0U6lTJdwG42LMFSSWXBT1bhVhSLPquZDz9xMlNt69uIUlRKeHrrkfsVALzRICbtW613R6Oe-hJmz/pubchart?oid=1451556370&amp;format=interactive"></iframe>
  </div>

  <h3>Page load</h3>
  <p>
    Load time before and load time after. Combining fewer images with smaller size and CDN, we reduced the time of images loading.
  </p>
  <div class="text-block block-embed">
    <iframe width="705" height="436" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQu0U6lTJdwG42LMFSSWXBT1bhVhSLPquZDz9xMlNt69uIUlRKeHrrkfsVALzRICbtW613R6Oe-hJmz/pubchart?oid=1292732921&amp;format=interactive"></iframe>
  </div>

  <p>
    Find out how we can put solutions like these to work for you.
  </p>
  <div class="btn-panel">
    <a class="btn btn-lg btn-green" href="/customer/#/signup" onclick="window.trackLink('Signup CaseStudy Bottom','signup_casestudybottom')">Sign up</a>
  </div>
</article>
{{ end }}