{{ define "main" }}
<div class="menu-splitter-gray">
</div>

<div class="menu-splitter">
</div>

<h1 class="h1-formatting">Contact us</h1>

<div class="contact-us" id="contact-us">

  <p>
    If you have any questions or comments please contact our friendly staff. Your feedback is
    very important for us.
  </p>

  <div class="contact-form">
    <div class="js-feedback-thanks hidden thanks">Thank you for your feedback.</div>
    <div class="js-feedback-error hidden error">Sorry, something went wrong. Please, try again later.</div>
    <input type="email" class="js-feedback-email" placeholder="E-mail address"/>
    <div class="spacer"></div>
    <textarea rows="10" class="js-feedback-text"></textarea>
    <div class="spacer"></div>
    <div class="btn-panel">
      <div class="btn js-submit-feedback-btn" onclick="window.trackLink('Form reply','form_reply')">Send</div>
    </div>
  </div>
</div>
{{ end }}