{{ define "main" }}
<div class="menu-splitter-gray">
</div>

<div class="menu-splitter">
</div>

<div class="faq">
  <h1>Frequently Asked Questions</h1>

  <div class="toc">
    <ul>
      <li><a href="#transformations">What transformations we support and why?</a></li>
      <li><a href="#cloud">What is image processing in the cloud?</a></li>
      <li><a href="#bill">What and how we bill?</a></li>
      <li><a href="#free-plan">What is included in a FREE plan?</a></li>
      <li><a href="#opensource">What is included in the Open Source version?</a></li>
      <li><a href="#labour-costs">How we can help to save on labour costs?</a></li>
      <li><a href="#cdn">What CDN we use and why?</a></li>
      <li><a href="#responsive">How to benefit from Pixboost when building a responsive website?</a></li>
      <li><a href="#why-cloud">Why should I use Cloud Service?</a></li>
    </ul>
  </div>

  <div class="qa" id="transformations">
    <div class="q">
      What transformations we support and why?
    </div>

    <div class="a">
      We do our best to build a rock solid service which is easy to use. Therefore we value quality over quantity. So
      we chose to support <b>four basic endpoints</b>:
      <ul>
        <li>Resize to the needed size</li>
        <li>Fit into needed space</li>
        <li>Optimise image (automatically for up to 70%)</li>
        <li>Returns image as-is through the CDN to boost its delivery</li>
      </ul>
      We believe that this is enough to speed-up any website in seconds.
      Please check out our full API <a href="/docs/api/">here</a>.
    </div>
  </div>

  <div class="qa" id="cloud">
    <div class="q">
      What is image processing in the cloud?
    </div>

    <div class="a">
      Image processing in the cloud is a practice of using remote servers hosted on the internet to perform image
      processing on digital images, rather than a local server or a personal computer. The major benefits are:
      <ul>
        <li>Easily scalable</li>
        <li>No need of maintenance</li>
        <li>No infrastructure costs</li>
        <li>Safe and secure functionality</li>
        <li>Access from anywhere</li>
        <li>Reduction of labour costs</li>
        <li>Easy integration and implementation</li>
      </ul>
    </div>
  </div>

  <div class="qa" id="bill">
    <div class="q">
      What and how we bill?
    </div>

    <div class="a">
      We bill for the bandwidth. So, you pay only for what your website uses and nothing more.
      It’s as simple as abc.
      <ul>
        <li>Imagine, you have a logo.png image which weights 1MB on your website.</li>
        <li>We compress it to 600KB.</li>
        <li>Let’s pretend that 100 users saw it.</li>
        <li>So, the calculation would be: 600KB * 100 views = 60 MB of billed bandwidth.</li>
      </ul>

      Sometimes, you can use more traffic then is provided with a plan you have chosen. Then we would bill per
      each extra Gb you use accordingly to your plan.

      Note: If you see that you are spending more on extra traffic, you may choose to upgrade to another plan any
      time. Even at the end of the billing period. And we will charge you by the new plan price.
    </div>
  </div>

  <div class="qa" id="free-plan">
    <div class="q">
      What is included in a FREE plan?
    </div>

    <div class="a">
      At Pixboost we decided to provide a FREE plan for user not only to test-drive our system,
      but successfully use it for a small size website, startups or demo projects. We include:
      <ul>
        <li>$0 payment</li>
        <li>2 Gb of data per month</li>
        <li>Unlimited images processing</li>
        <li>Unlimited time (what time, please answer)</li>
        <li>Unlimited transformations</li>
        <li>CDN for faster delivery of your images</li>
        <li>No credit card required</li>
      </ul>
      Please, <a href="/">sign up</a> for a FREE plan and start using Pixboost in seconds.
    </div>
  </div>

  <div class="qa" id="opensource">
    <div class="q">
      What is included in the Open Source version?
    </div>

    <div class="a">
      Pixboost Open Source version is our actual fully functional version that we use to deliver our SAAS version.
      You are welcome to use it and shape it according to your needs.
      We provide it:
      <ul>
        <li>Under <a href="https://en.wikipedia.org/wiki/MIT_License">MIT</a> licence</li>
        <li>Fully functioning transformation framework</li>
      </ul>
      Please, check out the latest version and documentation <a href="https://github.com/Pixboost/transformimgs">here</a>.
    </div>
  </div>

  <div class="qa" id="labour-costs">
    <div class="q">
      How we can help to save on labour costs?
    </div>

    <div class="a">
      You can save on wages of designers, content managers, programmers, devops, and SEO specialists.
      With Pixboost, you can easily:
      <ul>
        <li>Automate your image transformations</li>
        <li>Automate your image optimization</li>
        <li>Speedup your page load time</li>
        <li>Speedup your website delivery across various locations</li>
        <li>Integrate without coding or setup</li>
      </ul>
    </div>
  </div>

  <div class="qa" id="cdn">
    <div class="q">
      What CDN we use and why?
    </div>

    <div class="a">
      We use Google Cloud CDN because Google is a technological leader of the past few years and one of the most
      stable and powerful CDN providers.
      Its main features are:

      <ul>
        <li>Excellent performance</li>
        <li>Excellent usage spike handling</li>
        <li>Excellent internal data center to data center networking</li>
        <li>Easy-to-use Big Data analysis with BigQuery</li>
        <li>Reasonably priced</li>
        <li>Throughout coverage</li>
      </ul>
      Official full Google Cloud CDN <a href="https://cloud.google.com/cdn/docs/">documentation</a>.
    </div>
  </div>

  <div class="qa" id="responsive">
    <div class="q">
      How to benefit from Pixboost when building a responsive website?
    </div>

    <div class="a">
      With Pixboost there is no need to create multiple images for all sizes of devices you would like to deliver by hand.
      You keep only one <b>master image</b>, and automatically create all other <b>derivative</b> images of various sizes by
      using Pixboost endpoints. We process your master image in a cloud and then keep derivatives in cache.
    </div>
  </div>

  <div class="qa" id="why-cloud">
    <div class="q">
      Why should I use Cloud Service?
    </div>

    <div class="a">
      Two main reasons are you don’t have to build and deploy it yourself. Also, you can start or stop using it
      any time. It will save your money and effort. Choose one of our <a href="/prices/">FREE or paid plans</a>.
    </div>
  </div>
</div>

{{ end }}