{{ define "meta" }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {{ range $i, $f := .Params.faq }}
      {
        "@type": "Question",
        "name": "{{$f.q}}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{$f.a | markdownify}}"
        }
      }{{ if lt $i (sub (len $.Params.faq) 1) }},{{ end }}
      {{ end }}
    ]
  }
</script>
{{ end }}

{{ define "main" }}

<main class="faq">
  <section class="content-wrapper">
    <h1>Frequently Asked Questions</h1>
    <ul>
      {{ range .Params.faq }}
      <li><a href="#{{anchorize .q}}">{{.q}}</a></li>
      {{ end }}
    </ul>
    <div class="qa" id="transformations">
      {{ range .Params.faq }}
        <div class="q" id="{{anchorize .q}}">
          {{ .q }}
        </div>
        <div class="a">
          {{ .a | markdownify }}
        </div>
      {{ end }}
    </div>
  </section>
</main>

{{ end }}