{{ define "main" }}
<div class="list-page">
    <h1> {{ .Title }} </h1>

    <ul>
        {{ range .Pages }}
            <li>
                <a class="title" href="{{.RelPermalink}}index.html">{{.Title}}</a>

                <div class="article-image-and-summary">
                    {{if .Params.image}}
                    {{$image := printf "content/%s/%s" .File.Dir .Params.image | imageConfig}}
                    {{$imageExt := path.Ext .Params.image}}
                    {{$imageAlt := strings.TrimSuffix $imageExt .Params.image | humanize }}
                    <img src="/{{.File.Dir}}{{.Params.image}}"
                         width="{{$image.Width}}" height="{{$image.Height}}"
                         alt="{{$imageAlt}}"
                    />
                    {{end}}

                    <p>
                        {{.Summary}}
                    </p>
                </div>
            </li>
        {{ end }}
    </ul>
</div>
{{ end }}