{{ define "main" }}
<main>
  <section id="prices" class="content-wrapper">
    <h2>Billing and Prices</h2>
    <div class="plans">

      <div class="plan">
        <div class="price">
          <p class="amount"><sup>$</sup>0</p>
          <p class="period">Month</p>
          <p class="name">Free</p>
        </div>
        <div class="terms">
          <p class="traffic">2 Gb</p>
          <ul class="features">
            <li>Full functionality</li>
            <li>No time limit</li>
            <li>No credit card required</li>
          </ul>
        </div>
        <div class="cta">
          <a class="btn  btn-light" href="/customer/#/signup" onclick="window.trackSignup('Prices: Free')">
            SIGN UP
          </a>
        </div>
      </div>


      <div class="plan">
        <div class="price">
          <p class="amount"><sup>$</sup>0</p>
          <p class="period">Month</p>
          <p class="name">Free</p>
        </div>
        <div class="terms">
          <p class="traffic">2 Gb</p>
          <ul class="features">
            <li>Full functionality</li>
            <li>No time limit</li>
            <li>No credit card required</li>
          </ul>
        </div>
        <div class="cta">
          <a class="btn  btn-light" href="/customer/#/signup" onclick="window.trackSignup('Prices: Free')">
            SIGN UP
          </a>
        </div>
      </div>

      <div class="plan">
        <div class="price">
          <p class="amount"><sup>$</sup>0</p>
          <p class="period">Month</p>
          <p class="name">Free</p>
        </div>
        <div class="terms">
          <p class="traffic">2 Gb</p>
          <ul class="features">
            <li>Full functionality</li>
            <li>No time limit</li>
            <li>No credit card required</li>
          </ul>
        </div>
        <div class="cta">
          <a class="btn btn-light" href="/customer/#/signup" onclick="window.trackSignup('Prices: Free')">
            SIGN UP
          </a>
        </div>
      </div>

      <div class="plan">
        <div class="price">
          <p class="amount"><sup>$</sup>0</p>
          <p class="period">Month</p>
          <p class="name">Free</p>
        </div>
        <div class="terms">
          <p class="traffic">2 Gb</p>
          <ul class="features">
            <li>Full functionality</li>
            <li>No time limit</li>
            <li>No credit card required</li>
          </ul>
        </div>
        <div class="cta">
          <a class="btn  btn-light" href="/customer/#/signup" onclick="window.trackSignup('Prices: Free')">
            SIGN UP
          </a>
        </div>
      </div>

      <div class="plan">
        <div class="price">
          <p class="amount"><sup>$</sup>0</p>
          <p class="period">Month</p>
          <p class="name">Free</p>
        </div>
        <div class="terms">
          <p class="traffic">2 Gb</p>
          <ul class="features">
            <li>Full functionality</li>
            <li>No time limit</li>
            <li>No credit card required</li>
          </ul>
        </div>
        <div class="cta">
          <a class="btn  btn-light" href="/customer/#/signup" onclick="window.trackSignup('Prices: Free')">
            SIGN UP
          </a>
        </div>
      </div>


    </div>
  </section>
</main>
{{ end }}