article {
    padding-top: var(--space-2) !important;
}

h1 > small {
    font-size: 1rem;
    display: block;
    font-weight: normal;
}

.single-page img,
.single-page video {
    max-width: 100%;
}

.single-page img.full-width,
.single-page .full-width img
{
    max-width: 100%;
    height: auto;
}

.single-page .center {
    text-align: center;
}

.single-page table {
    width: 100%;
}

.single-page table thead th {
    border-top: 1px solid var(--light-grey-color);
    vertical-align: bottom;
    border-bottom: 2px solid var(--light-grey-color);
    padding: .75rem;
}

.single-page table td, .single-page table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid var(--light-grey-color);
}

.btn-panel {
    text-align: center;
}

.emphasise {
    font-size: 130%;
    padding: var(--space-2) 0;
}

.emphasise em:before {
    content: '🏳️‍🌈';
    color: rgb(var(--green-brand-color));
    font-size: 150%;
}

.twitter-tweet {
    margin: 10px auto;
}

.note {
    border: 1px dashed rgb(var(--description-color));
    padding: var(--space-1);
    font-size: 90%;
}

figure {
    text-align: center;
}

figure img {
    border: 1px solid rgb(var(--description-color));
}

blockquote {
    border-left: 2px solid rgb(var(--grey-color));
}

.highlight pre {
    padding: var(--space-1)
}

.row {
    display: flex;
    flex-direction: row;
}

@media (max-width: 767.98px) {
    article {
        padding: var(--space-2) !important;
    }
}