/* CASE STUDY */

.btn-panel {
    text-align: center;
}

section {
    padding-top: var(--space-2) !important;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid rgb(12, 168, 154);
    padding: 20px;
    font-size: 18px;
}

blockquote img{
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 190px;
    height: 190px;
}

/* CASE STUDY */

@media all and (max-width: 767.98px) {
    /*Case Study*/
    article.content-wrapper {
        padding: var(--space-6) var(--space-2);
    }

    img {
        max-width: 100%;
    }

    blockquote {
        margin: 0;
        font-size: 16px;
    }

    blockquote img {
        display: none;
    }

    .block-embed {
        overflow-x: scroll;
    }

    /*Case Study*/
}

