main {
    background-color: rgb(var(--background-color));
}

p.title {
    font-size: 0.7em;
    color: rgb(var(--green-brand-color));
    margin-bottom: 0;
}

/* Hero Section*/
#hero {
    display: flex;
    flex-direction: row;
}

#hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero h1 {
    color: white;
}

#hero .description {
    color: #ADADB9;
    margin-top: 0;
}

#hero .cta {
    margin-top: var(--space-4);
}

#hero .video {
    width: 100%;
    padding: var(--space-4);
    background: radial-gradient(circle, rgba(var(--green-brand-color), 0.3), rgb(var(--background-color)) 70%);
}

