/* Prices */

#prices h2 {
    color: white;
}

#prices .plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plan {
    background-color: white;
    max-width: 18%;
    border-radius: 14px;
}

.plan>div {
    padding: var(--space-2);
}

.plan .price {
    text-align: center;
    color: rgb(var(--green-brand-color));
}

.plan p {
    margin: var(--space-1) 0;
}

.plan .price .amount {
    font-size: 3em;
    font-weight: bold;
    position: relative;
}

.plan .price .amount sup {
    font-weight: normal;
    font-size: 30%;
    position: absolute;
    margin: 1em -0.5em;
}

.plan .price .name {
    font-size: 2em;
    font-weight: bold;
}

.plan .terms {
    background-color: rgb(var(--grey-color));
}

.plan .terms .traffic {
    text-align: center;
    color: rgb(var(--green-brand-color));
    font-size: 1.8em;
}

.plan .terms .features {
    font-size: 0.8em;
    color: rgb(var(--description-color));
}

.plan .cta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}