{{ define "meta" }}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://pixboost.com",
        "logo": "https://pixboost.com/img/Logo-black.svg",
        "name": "Pixboost",
        "founder": "Aliona Lyubimova, Dmitry Pokidov",
        "foundingDate": "2018",
        "sameAs":
        [
            "https://twitter.com/pixboost",
            "https://facebook.com/pixboost",
            "https://linkedin.com/company/pixboost"
        ],
        "contactPoint" : {
            "@type" : "ContactPoint",
            "contactType" : "Customer Support",
            "areaServed" : "Worldwide",
            "availableLanguage" : "English",
            "email" : "customer.service@pixboost.com"
        }
    }
</script>
<script type='application/ld+json'>
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Pixboost",
        "alternateName": "Pixboost",
        "url": "https://pixboost.com"
    }
</script>
{{ end }}

{{ define "main" }}
<div class="hero">
    <picture class="hero-picture">
        <source media="(min-width: 990px)"
                srcset="https://pixboost.com/api/2/img/https://pixboost.com/img/homepage/hero.jpg/resize?size=x600&auth=MzY2MjQ4NzQ2Mw__"/>
        <source media="(min-width: 640px)"
                srcset="https://pixboost.com/api/2/img/https://pixboost.com/img/homepage/hero.jpg/resize?size=x600&auth=MzY2MjQ4NzQ2Mw__"/>
        <img src="https://pixboost.com/api/2/img/https://pixboost.com/img/homepage/hero.jpg/fit?size=275x400&auth=MzY2MjQ4NzQ2Mw__"
             alt="Girl in headphones"/>
    </picture>

    <div class="hero-content-wrapper">
        <div class="hero-content">
            <div class="left-column">
                <h1 class="title">Image CDN. Real-time Image Processing Platform</h1>
                <div class="summary">
                    <ul>
                        <li>Smart Optimization</li>
                        <li>Real-time Image Scaling</li>
                        <li>End-to-end Image CDN</li>
                        <li>API/JS-based Integration</li>
                        <li>Shopify Integration</li>
                    </ul>
                </div>
                <a class="callout-btn big-red-btn" href="/customer/#/signup"
                   onclick="window.trackLink('Hero submit','signup_hero')">Sign up</a>
            </div>
            <div class="right-column">
                <div class="social">
                    <a href="https://www.facebook.com/pixboost"
                       onclick="window.trackLink('Hero Facebook','hero_facebook')"><img src="img/social/facebook.svg"
                                                                                        alt="facebook"/></a>
                    <a href="https://www.twitter.com/pixboost"
                       onclick="window.trackLink('Hero Twitter','hero_twitter')"><img src="img/social/twitter.svg"
                                                                                      alt="twitter"/></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="phrase-block">
    <h2 class="phrase">
        Boost your website performance by more than 30% in 10 minutes or less!
    </h2>
</div>

<div class="api-overview">
    <video controls autoplay loop muted width="1024" height="630">
        <source type="video/webm" src="/img/homepage/pixboost-api-overview.webm">
        <source type="video/mp4" src="/img/homepage/pixboost-api-overview.mp4">
    </video>
</div>
<div class="features" id="about">
    <div class="column">
        <div class="card">
            <div class="image-wrapper">
                <img src="/img/homepage/features/edit-image.svg" alt="image processing"/>
            </div>
            <h3 class="title">Image Processing</h3>
            <ul>
                <li>Resize and Optimise Images</li>
                <li>Responsive Images Support</li>
                <li>Open Source available</li>
            </ul>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="image-wrapper">
                <img src="/img/homepage/features/cloud.svg" alt="features"/>
            </div>
            <h3 class="title">Out-of-the-box Features</h3>
            <ul>
                <li>Cache Invalidation</li>
                <li>HTTP/2 and HTTP/3</li>
                <li>Lazy Loading</li>
                <li>Next gen formats: AVIF, WebP</li>
                <li>CDN-powered instantly</li>
                <li>Included in all plans</li>
            </ul>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="image-wrapper">
                <img src="/img/homepage/features/integration.svg" alt="API"/>
            </div>
            <h3 class="title">API</h3>
            <ul>
                <li>No Vendor Lock-in</li>
                <li>URL-based Integration</li>
                <li>JavaScript Integration</li>
                <li>Custom Domain Name Support</li>
            </ul>
        </div>
    </div>

</div>

<div class="gray-testimonial-bg testimonials carousel js-testimonials">
    <input type="radio" id="testimonial-1" name="slides" checked="checked" class="carousel_activator"/>
    <input type="radio" id="testimonial-2" name="slides" class="carousel_activator"/>

    <div class="slides-container">
        <div class="slide">
            <div class="testimonial">
                <div class="person">
                    <div class="photo">
                        <div data-pb-picture
                             data-url="https://pixboost.com/img/homepage/daniel_gladki_photo.jpg"
                             data-lazy=""
                             data-lg="fit?size=190x190"
                             data-md="fit?size=190x190"
                             data-sm="fit?size=100x100"
                             data-alt="Daniel Gladki - Officeworks Head of eCommerce."
                        ></div>
                    </div>
                    <div class="quotelogo">
                        <img data-pb-image
                             data-lazy=""
                             alt="Officeworks"
                             data-op="asis"
                             data-src="https://pixboost.com/img/homepage/officeworks_logo.png"/>
                    </div>
                </div>
                <div>
                    <div class="quote">
                        <div class="quote-text">"With the Pixboost Image CDN and Optimisation Service running, we can
                            now easily serve up compressed responsive images
                            that still look great but reduce page load times dramatically. The service continues to run
                            smoothly and has made the process of
                            preparing images for the web so much easier."
                        </div>
                        <div class="name">Daniel Gladki</div>
                        <div class="position">Head of eCommerce, Officeworks</div>
                        <div class="case-study"><a href="/casestudy-officeworks/"
                                                   onclick="window.trackLink('CaseStudy','CaseStudy')">Officeworks Case
                            Study</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide">
            <div class="testimonial">
                <div class="person">
                    <div class="photo">
                        <div data-pb-picture
                             data-url="https://pixboost.com/img/homepage/gerry_correa_photo.jpeg"
                             data-lazy=""
                             data-lg="fit?size=190x190"
                             data-md="fit?size=190x190"
                             data-sm="fit?size=100x100"
                             data-alt="Daniel Gladki - Officeworks Head of eCommerce."
                        ></div>
                    </div>
                </div>
                <div>
                    <div class="quote">
                        <div class="quote-text quote-text-small">
                            "It was such a pleasure to work with Pixboost team.

                            Pixboost crew delivered excellent work and proved to be exceptional web performance experts
                            when we requested their help with Pixboost integration for our Shopify store -
                            nuestrosecreto.com.mx. All communication was fast and efficient. A dedicated engineer not
                            just integrated the site with the service, but helped us to identify and fix performance
                            bottlenecks.

                            We couldn’t ask for better results of our collaboration: reduced images size by more than
                            50% and improved load time by 4 seconds!"
                        </div>
                        <div class="name">Gerardo Correa Montero</div>
                        <div class="position">CEO, Radical Media MX, Shopify Experts</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-indicators">
        <label class="carousel-indicator" for="testimonial-1"></label>
        <label class="carousel-indicator" for="testimonial-2"></label>
    </div>
</div>

<div class="why">
    <h3>Why Pixboost?</h3>
    We can solve all those problems for you in under 10 minutes without the need for complicated coding or setup:
    <div class="problems-list">
        <div class="problem">
            <div class="problem-icon">
                <div class="question">?</div>
            </div>
            <div class="problem-text">Are you <b>losing users</b> because of the slow website?</div>
            <div class="problem-icon">
                <div class="check">&#10003;</div>
            </div>
            <div class="problem-solution">Pixboost will take care of sizes, formats and offscreen images to make your
                website <b>considerably faster</b>.
            </div>
        </div>
        <div class="problem">
            <div class="problem-icon">
                <div class="question">?</div>
            </div>
            <div class="problem-text"><b>Poor performance</b> affecting your Google ranking?</div>
            <div class="problem-icon">
                <div class="check">&#10003;</div>
            </div>
            <div class="problem-solution">Pixboost automatically optimises images on your website providing up to <b>30%
                immediate increase in performance</b>.
            </div>
        </div>
        <div class="problem">
            <div class="problem-icon">
                <div class="question">?</div>
            </div>
            <div class="problem-text"><b>Overpaying for CDN</b> because serving images in wrong sizes and not the best
                format?
            </div>
            <div class="problem-icon">
                <div class="check">&#10003;</div>
            </div>
            <div class="problem-solution">Pixboost resizes and optimises images on the fly and using next generation
                formats of images which makes it <b>heaps cheaper</b> comparing to a regular CDN.
            </div>
        </div>
        <div class="problem">
            <div class="problem-icon">
                <div class="question">?</div>
            </div>
            <div class="problem-text">Do you keep several original images for various screen sizes, which is also <b>difficult
                to manage</b>?
            </div>
            <div class="problem-icon">
                <div class="check">&#10003;</div>
            </div>
            <div class="problem-solution">You keep only one image, Pixboost processes it and delivers across all the
                needed sizes and devices. This makes content management <b>much easier</b>.
            </div>
        </div>
    </div>
    <div class="btn-panel">
        <a class="callout-btn big-red-btn" href="/customer/#/signup"
           onclick="window.trackLink('Signup Pagebottom','signup_pagebottom')">Sign up</a>
    </div>
</div>

<div class="partners">
    <h3>Our Partners</h3>
    <div class="partners-list">
        <img data-pb-image
             data-lazy=""
             data-op="resize?size=200"
             data-src="https://pixboost.com/img/homepage/partners/zaxada.png"
             alt="Zaxada.online"
             title="One interface and One Contract to list and sell products on different platforms"
        />
        <img data-pb-image
             data-lazy=""
             data-op="resize?size=200"
             data-src="https://pixboost.com/img/homepage/partners/Search-Labs.png"
             alt="searchlabs.com"
        />
    </div>
</div>

<div class="gray-description">
    <div>
        <p>
            <b>Pixboost</b> is a cloud Image CDN service which is designated to optimise raster images (e.g. *.jpg,
            *.png, etc) for file size reduction and decreased load times.
            Once an image has been optimised, its file is cached on Google’s CDN (Content Delivery Network),
            increasing the speed at which images can be retrieved on subsequent requests.
        </p>
        <p>
            The service can also be used to <b>resize</b> and <b>crop</b> images, which makes generating responsive
            images that respect the device screen size on which
            they are being displayed is simple to achieve. Using the service requires modifications to the image URL.
        </p>
        <p>
            Pixboost image manipulation service sources are accessible to the public on <a
            href="https://github.com/dooman87/transformimgs" onclick="window.trackLink('GitHub','github')">github</a>.
            We believe that <b>open source</b> is the most efficient model of software development.
            Also, it allows our customers to deploy service to their own data centres.
            We are always happy to provide consulting services to customize the solution for your needs.
        </p>
    </div>
</div>
{{ end }}