{{ define "meta" }}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://pixboost.com",
        "logo": "https://pixboost.com/img/Logo-black.svg",
        "name": "Pixboost",
        "founder": "Aliona Lyubimova, Dmitry Pokidov",
        "foundingDate": "2018",
        "sameAs":
        [
            "https://twitter.com/pixboost",
            "https://facebook.com/pixboost",
            "https://linkedin.com/company/pixboost"
        ],
        "contactPoint" : {
            "@type" : "ContactPoint",
            "contactType" : "Customer Support",
            "areaServed" : "Worldwide",
            "availableLanguage" : "English",
            "email" : "customer.service@pixboost.com"
        }
    }
</script>
<script type='application/ld+json'>
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Pixboost",
        "alternateName": "Pixboost",
        "url": "https://pixboost.com"
    }
</script>
{{ end }}

{{ define "main" }}
<main>
  <section id="hero" class="content-wrapper">
    <div class="content">
      <p class="title">INDUSTRY EXPERTS</p>
      <h1>Make your customers happy<br/> <small>with fast loading images</small></h1>
      <p class="description">Pixboost Image CDN serves the responsive images using the best format from the closest to your user location.</p>
      <p class="cta">
        <a class="btn btn-lg btn-green" href="/customer/#/signup" onclick="window.trackLink('Hero submit','signup_hero')">SIGN UP</a>
      </p>
    </div>
    <div class="video">
      <object type="image/svg+xml" data="/img/v2/homepage/animation-js.svg"></object>
    </div>
  </section>

  <section id="how-it-works">
    <div class="content-wrapper frame">
      <div class="content">
        <p class="title">HOW IT WORKS</p>
        <div class="text">
          <div class="heading">
            <h2>End to End image solution for your website</h2>
          </div>
          <p class="description">
            In addition to API you also get Content Delivery Network with 144 locations worldwide, so the images are served from the closest location to your client.
            Your web developers would also love our front end integration with popular frameworks like React.
          </p>
        </div>
        <div class="infographic">
          <div class="card">
            <img src="/img/v2/homepage/infographic/user-loading-images.png" alt="user loading images"/>
            <p class="heading">User's Browser</p>
            <p class="description">
              Optimised images across all screen sizes and devices.
            </p>
          </div>
          <div class="connection">
            <p class="right-arrow">&rarr;</p>
            <p class="left-arrow">&larr;</p>
          </div>
          <div class="card">
            <img src="/img/v2/homepage/infographic/content-delivery-network.png" alt="content delivery network"/>
            <p class="heading">Content Delivery Network</p>
            <p class="description">
              Serve from the closest to user location  from CDN immediately. 140+ locations all over the World.
            </p>
          </div>
          <div class="connection">
            <p class="right-arrow">&rarr;</p>
            <p class="left-arrow">&larr;</p>
          </div>
          <div class="card">
            <img src="/img/v2/homepage/infographic/image-api.png" alt="image api"/>
            <p class="heading">Image API</p>
            <p class="description">
              Pixboost downloads image, optimises / transforms it on CDN for 30 days.
            </p>
          </div>
          <div class="connection">
            <p class="right-arrow">&rarr;</p>
            <p class="left-arrow">&larr;</p>
          </div>
          <div class="card">
            <img src="/img/v2/homepage/infographic/images-source.png" alt="images source"/>
            <p class="heading">Your Image Sources</p>
            <p class="description">
              Image sources, where you keep one image, and we take care of the rest.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </section>

  <section id="who-we-are">
    <div class="content-wrapper">
      <div class="content">
        <p class="title">WHO WE ARE</p>
        <h2>Easy to use Image Processing API</h2>
        <p class="description">
          Our API is straightforward and simple yet powerful to cover all your needs to serve images on the modern Web.
        </p>
      </div>
      <div class="video">
        <video controls="" autoplay="" loop="" muted="" width="1024" height="630">
          <source type="video/webm" src="/img/v2/homepage/pixboost-api-overview.webm">
          <source type="video/mp4" src="/img/v2/homepage/pixboost-api-overview.mp4">
        </video>
      </div>
    </div>
    <div class="background"></div>
  </section>

  <section id="what-you-get">
    <div class="content-wrapper">
      <p class="title">WHAT YOU GET</p>
      <h2>What you get with Pixboost</h2>
      <div class="row">
        <div>
          <img src="/img/v2/homepage/what-you-get/laptop-loading.svg" alt="laptop loading a website"/>
        </div>
        <div>
          <p class="heading">Delivering you webpage faster</p>
          <p class="description">
            Images are the central content piece in many industries such as e-commerce and real estate.
            On average users won’t wait more than 3 seconds for a web page to load and feel discomfort if it
            takes more than 1 second. Therefore, improving page load time will make a purchase more likely and leave a
            customer with a good memories, so they will come back in the future.
          </p>
          <div class="cta">
            <a class="btn btn-light" href="">LEARN MORE</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div>
          <p class="heading">Improve SEO ranking by reducing load time</p>
          <p class="description">
            With the latest update Google recognizes Core Web Vitals as a ranking signal.
            Using Pixboost Image CDN will improve your Largest Contentful Paint and First Input Delay metrics.
          </p>
          <div class="cta">
            <a class="btn btn-light" href="">LEARN MORE</a>
          </div>
        </div>
        <div>
          <img src="/img/v2/homepage/what-you-get/person-browsing-internet.svg" alt="A person is surfing the Internet"/>
        </div>
      </div>
      <div class="row">
        <div>
          <img src="/img/v2/homepage/what-you-get/person-holds-picture.svg" alt="A person hold picture in front of monitor"/>
        </div>
        <div>
          <p class="heading">Spend less with fully automated image solution</p>
          <p class="description">
            Pixboost API will produce all the sizes and formats you need, so you can save on storage cost.
            Using our service will also reduce your CDN traffic by at least 30%.
          </p>
          <div class="cta">
            <a class="btn btn-light" href="">LEARN MORE</a>
          </div>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </section>

  <section id="tools" class="content-wrapper">
    <div class="content">
      <p class="title">TOOLS</p>
      <h2>Empower yourself with no code tools</h2>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. At faucibus pellentesque neque, eget blandit dictum. Neque neque, at amet pharetra, sed in diam. Ornare ullamcorper in ultrices sit. Odio mattis cras ut suspendisse eget. Convallis felis, tellus a nam.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. At faucibus pellentesque neque, eget blandit dictum. Neque neque, at amet pharetra, sed in diam. Ornare ullamcorper in ultrices sit. Odio mattis cras ut suspendisse eget. Convallis felis, tellus a nam.
      </p>
      <div class="cta">
        <a href="" class="btn btn-lg btn-green">LEARN MORE</a>
      </div>
    </div>
    <div class="screenshot">
      <img src="/img/v2/homepage/tools/snippet-generator-screenshot.png" alt="snippet generator application screenshot"/>
    </div>
  </section>

  <section id="features">
    <div class="content-wrapper frame">
      <p class="title">FEATURES</p>
      <h2>Everything to help you succeed</h2>
      <div class="cards">
        <div class="card">
          <div class="icon">
            <img src="/img/v2/homepage/features/resize.svg" alt="resize image icon"/>
          </div>
          <h3>Image Processing</h3>
          <ul>
            <li>Resize and Optimise images</li>
            <li>Responsive Images Support</li>
            <li>Open Source Available</li>
          </ul>
        </div>
        <div class="card">
          <div class="icon">
            <img src="/img/v2/homepage/features/out-of-the-box-features.svg" alt="out of the box features icon"/>
          </div>
          <h3>Out-of-the-box Features</h3>
          <ul>
            <li>Cache Invalidation</li>
            <li>HTTP/2 and HTTP/3</li>
            <li>Lazy Loading</li>
            <li>Next Gen Formats: AVIF and WebP</li>
            <li>CDN-powered instantly</li>
          </ul>
        </div>
        <div class="card">
          <div class="icon">
            <img src="/img/v2/homepage/features/api.svg" alt="API features icon"/>
          </div>
          <h3>API</h3>
          <ul>
            <li>No Vendor Lock-in</li>
            <li>URL-based integration</li>
            <li>JavaScript integration</li>
            <li>Custom Domain Name support</li>
          </ul>
        </div>
      </div>

      <div class="cta">
        <a href="" class="btn btn-lg btn-green">SIGNUP</a>
      </div>
    </div>
    <div class="background"></div>
  </section>

  <section id="clients">
    <div class="content-wrapper">
      <p class="title">YOU'RE IN A GOOD COMPANY</p>
      <h2>Clients who trust us</h2>
      <div class="brands">
        <img src="/img/v2/homepage/clients/officeworks.png" alt="officeworks.com.au logo"/>
        <img src="/img/v2/homepage/clients/mryum.svg" alt="mryum.com logo"/>
        <img src="/img/v2/homepage/clients/maria-valentina.png" alt="mariavalentinacancun.com logo"/>
        <img src="/img/v2/homepage/clients/blackheart-and-sparrows.svg" alt="blackheartsandsparrows.com.au logo"/>
        <img src="/img/v2/homepage/clients/tadaaz.svg" alt="tadaaz.be logo"/>
        <img src="/img/v2/homepage/clients/nuestro-secreto.png" alt="nuestrosecreto.com.mx logo"/>
        <img src="/img/v2/homepage/clients/elitesupps.png" alt="elitesupps.com.au logo"/>
        <img src="/img/v2/homepage/clients/pippo.png" alt="pipposportswear.com logo"/>
      </div>
    </div>
    <div class="background"></div>
  </section>

  <section id="testimonials">
    <div class="content-wrapper">
      <p class="title">TESTIMONIALS</p>
      <h2>What clients say about us</h2>
      <div class="testimonials">
        <div class="testimonial">
          <p class="heading">Officeworks</p>
          <p>
            With the Pixboost Image CDN and Optimisation Service running, we can now easily serve up
            compressed responsive images that still look great but reduce page load times dramatically.
            The service continues to run smoothly and has made the process of preparing images for the web so much easier.
          </p>
          <div class="author">
            <img src="/img/v2/homepage/testimonials/daniel-gladki.jpg" alt="Daniel Gladki"/>
            <div class="name-and-title">
              <p>Head of eCommerce, Officeworks</p>
              <p>Daniel Gladki</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </section>
</main>
{{ end }}