{{ define "meta" }}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://pixboost.com",
        "logo": "https://pixboost.com/img/Logo-black.svg",
        "name": "Pixboost",
        "founder": "Aliona Lyubimova, Dmitry Pokidov",
        "foundingDate": "2018",
        "sameAs":
        [
            "https://twitter.com/pixboost",
            "https://facebook.com/pixboost",
            "https://linkedin.com/company/pixboost"
        ],
        "contactPoint" : {
            "@type" : "ContactPoint",
            "contactType" : "Customer Support",
            "areaServed" : "Worldwide",
            "availableLanguage" : "English",
            "email" : "customer.service@pixboost.com"
        }
    }
</script>
<script type='application/ld+json'>
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Pixboost",
        "alternateName": "Pixboost",
        "url": "https://pixboost.com"
    }
</script>
{{ end }}

{{ define "main" }}
{{ end }}