{{ define "meta" }}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://pixboost.com",
        "logo": "https://pixboost.com/img/Logo-black.svg",
        "name": "Pixboost",
        "founder": "Aliona Lyubimova, Dmitry Pokidov",
        "foundingDate": "2018",
        "sameAs":
        [
            "https://twitter.com/pixboost",
            "https://facebook.com/pixboost",
            "https://linkedin.com/company/pixboost"
        ],
        "contactPoint" : {
            "@type" : "ContactPoint",
            "contactType" : "Customer Support",
            "areaServed" : "Worldwide",
            "availableLanguage" : "English",
            "email" : "customer.service@pixboost.com"
        }
    }
</script>
<script type='application/ld+json'>
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Pixboost",
        "alternateName": "Pixboost",
        "url": "https://pixboost.com"
    }
</script>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@pixboost">
<meta property="og:url" content="https://pixboost.com">
<meta property="og:title" content="Pixboost - Image CDN - API to process images and deliver them via Content Delivery Network">
<meta property="twitter:title" content="Pixboost - Image CDN - API to process images and deliver them via Content Delivery Network">
<meta property="og:description" content="Optimize your image performance with Pixboost Image CDN. Real-time image processing and performance optimization.">
<meta property="twitter:description" content="Optimize your image performance with Pixboost Image CDN. Real-time image processing and performance optimization.">

<meta property="og:image" content="https://pixboost.com/img/v2/homepage/infographic/user-loading-images.png">
<meta property="twitter:image" content="https://pixboost.com/img/v2/homepage/infographic/user-loading-images.png">

{{ end }}

{{ define "main" }}
<main>
  <section id="hero" class="content-wrapper">
    <div class="content">
      <p class="title">INDUSTRY EXPERTS</p>
      <h1>Make your customers happy<br/> <small>with faster loading images</small></h1>
      <p class="description">Pixboost Image CDN serves responsive images using the best format, from the closest location.</p>
      <p class="cta">
        <a class="btn btn-lg btn-green" href="/customer/#/signup" onclick="window.trackSignup('Homepage: hero banner')">
          SIGN UP
          <small>(Free plan, no CC required)</small>
        </a>
      </p>
    </div>
    <div class="video">
      <object type="image/svg+xml" data="/img/v2/homepage/animation-js.svg" aria-label="animation showcasing image transformations">
        <img src="/img/v2/homepage/animation-js.svg" alt="animation showcasing image transformations" fetchpriority="high"/>
      </object>
    </div>
  </section>

  <section id="how-it-works">
    <div class="content-wrapper frame">
      <div class="content">
        <p class="title">HOW IT WORKS</p>
        <div class="text">
          <div class="heading">
            <h2>End to End image solution for your website</h2>
          </div>
          <p class="description">
            In addition to an API you also get Content Delivery Network with 144 locations worldwide, so the images are served from the closest location to your client.
            Developers will also love our front end integration with popular frameworks like React.
          </p>
        </div>
        <div class="infographic">
          <div class="card">
            <picture>
              <source
                  media="(-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.9999)"
                  srcset="
                    https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/resize?size=300&dppx=2&auth=NzM5MTYwMjAy 300w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/resize?size=400&dppx=2&auth=NzM5MTYwMjAy 400w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/resize?size=500&dppx=2&auth=NzM5MTYwMjAy 500w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/resize?size=600&dppx=2&auth=NzM5MTYwMjAy 600w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/optimise?dppx=2&auth=NzM5MTYwMjAy 780w
                  "
                  sizes="
                    (min-width: 768px) 300px,
                    100vw
                  "
              >
              <source
                  media="(-webkit-min-device-pixel-ratio: 3)"
                  srcset="
                    https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/resize?size=300&dppx=3&auth=NzM5MTYwMjAy 300w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/resize?size=400&dppx=3&auth=NzM5MTYwMjAy 400w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/resize?size=500&dppx=3&auth=NzM5MTYwMjAy 500w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/resize?size=600&dppx=3&auth=NzM5MTYwMjAy 600w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/optimise?dppx=3&auth=NzM5MTYwMjAy 780w
                  "
                  sizes="
                    (min-width: 768px) 300px,
                    100vw
                  "
              >
              <img
                  src="https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/optimise?auth=NzM5MTYwMjAy"
                  srcset="
                https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/resize?size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/resize?size=400&auth=NzM5MTYwMjAy 400w,
                https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/resize?size=500&auth=NzM5MTYwMjAy 500w,
                https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/resize?size=600&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/infographic/user-loading-images.png/optimise?auth=NzM5MTYwMjAy 780w
              "
                  alt="user is loading images"
                  sizes="
                (min-width: 768px) 300px,
                100vw
              "
                  width="780"
                  height="780"
              />
            </picture>
            <p class="heading">User's Browser</p>
            <p class="description">
              Optimised images across all screen sizes and devices.
            </p>
          </div>
          <div class="connection">
            <p class="right-arrow"></p>
            <p class="left-arrow"></p>
          </div>
          <div class="card">
            <picture>
              <source
                  media="(-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.9999)"
                  srcset="
                    https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/resize?size=300&dppx=2&auth=NzM5MTYwMjAy 300w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/resize?size=400&dppx=2&auth=NzM5MTYwMjAy 400w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/resize?size=500&dppx=2&auth=NzM5MTYwMjAy 500w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/resize?size=600&dppx=2&auth=NzM5MTYwMjAy 600w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/optimise?dppx=2&auth=NzM5MTYwMjAy 780w
                  "
                  sizes="
                    (min-width: 768px) 300px,
                    100vw
                  "
              >
              <source
                  media="(-webkit-min-device-pixel-ratio: 3)"
                  srcset="
                    https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/resize?size=300&dppx=3&auth=NzM5MTYwMjAy 300w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/resize?size=400&dppx=3&auth=NzM5MTYwMjAy 400w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/resize?size=500&dppx=3&auth=NzM5MTYwMjAy 500w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/resize?size=600&dppx=3&auth=NzM5MTYwMjAy 600w,
                    https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/optimise?dppx=3&auth=NzM5MTYwMjAy 780w
                  "
                  sizes="
                    (min-width: 768px) 300px,
                    100vw
                  "
              >
              <img
                  src="https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/optimise?auth=NzM5MTYwMjAy"
                  srcset="
                https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/resize?size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/resize?size=400&auth=NzM5MTYwMjAy 400w,
                https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/resize?size=500&auth=NzM5MTYwMjAy 500w,
                https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/resize?size=600&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/infographic/content-delivery-network.png/optimise?auth=NzM5MTYwMjAy 780w
              "
                  alt="content delivery network"
                  sizes="
                (min-width: 768px) 300px,
                100vw
              "
                  width="780"
                  height="780"
              />
            </picture>

            <p class="heading">Content Delivery Network</p>
            <p class="description">
              Served from the CDN location closest to the user. 140+ locations all over the World.
            </p>
          </div>
          <div class="connection">
            <p class="right-arrow"></p>
            <p class="left-arrow"></p>
          </div>
          <div class="card">
            <picture>
              <source
                  media="(-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.9999)"
                  srcset="
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/resize?dppx=2&size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/resize?dppx=2&size=400&auth=NzM5MTYwMjAy 400w,
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/resize?dppx=2&size=500&auth=NzM5MTYwMjAy 500w,
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/resize?dppx=2&size=600&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/optimise?dppx=2&auth=NzM5MTYwMjAy 780w
                  "
                  sizes="
                    (min-width: 768px) 300px,
                    100vw
                  "
              >
              <source
                  media="(-webkit-min-device-pixel-ratio: 3)"
                  srcset="
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/resize?dppx=3&size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/resize?dppx=3&size=400&auth=NzM5MTYwMjAy 400w,
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/resize?dppx=3&size=500&auth=NzM5MTYwMjAy 500w,
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/resize?dppx=3&size=600&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/optimise?dppx=3&auth=NzM5MTYwMjAy 780w
                  "
                  sizes="
                    (min-width: 768px) 300px,
                    100vw
                  "
              >
              <img
                  src="https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/optimise?auth=NzM5MTYwMjAy"
                  srcset="
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/resize?size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/resize?size=400&auth=NzM5MTYwMjAy 400w,
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/resize?size=500&auth=NzM5MTYwMjAy 500w,
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/resize?size=600&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/infographic/image-api.png/optimise?auth=NzM5MTYwMjAy 780w
              "
                  alt="image api"
                  sizes="
                (min-width: 768px) 300px,
                100vw
              "
                  width="780"
                  height="780"
                  loading="lazy"
              />
            </picture>
            <p class="heading">Image API</p>
            <p class="description">
              Pixboost downloads a source image then optimises/transforms it and caches it on the CDN for 30 days.
            </p>
          </div>
          <div class="connection">
            <p class="right-arrow"></p>
            <p class="left-arrow"></p>
          </div>
          <div class="card">
            <picture>
              <source
                  media="(-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.9999)"
                  srcset="
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/resize?dppx=2&size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/resize?dppx=2&size=400&auth=NzM5MTYwMjAy 400w,
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/resize?dppx=2&size=500&auth=NzM5MTYwMjAy 500w,
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/resize?dppx=2&size=600&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/optimise?dppx=2&auth=NzM5MTYwMjAy 780w
                  "
                  sizes="
                    (min-width: 768px) 300px,
                    100vw
                  "
              >
              <source
                  media="(-webkit-min-device-pixel-ratio: 3)"
                  srcset="
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/resize?dppx=3&size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/resize?dppx=3&size=400&auth=NzM5MTYwMjAy 400w,
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/resize?dppx=3&size=500&auth=NzM5MTYwMjAy 500w,
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/resize?dppx=3&size=600&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/optimise?dppx=3&auth=NzM5MTYwMjAy 780w
                  "
                  sizes="
                    (min-width: 768px) 300px,
                    100vw
                  "
              >
              <img
                  src="https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/optimise?auth=NzM5MTYwMjAy"
                  srcset="
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/resize?size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/resize?size=400&auth=NzM5MTYwMjAy 400w,
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/resize?size=500&auth=NzM5MTYwMjAy 500w,
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/resize?size=600&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/infographic/images-source.png/optimise?auth=NzM5MTYwMjAy 780w
              "
                  alt="images source"
                  sizes="
                (min-width: 768px) 300px,
                100vw
              "
                  width="780"
                  height="780"
                  loading="lazy"
              />
            </picture>

            <p class="heading">Your Image Sources</p>
            <p class="description">
              Image sources, where you keep one image, and we take care of the rest.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </section>

  <section id="who-we-are">
    <div class="content-wrapper">
      <div class="content">
        <p class="title">WHO WE ARE</p>
        <h2>Easy to use Image Processing API</h2>
        <p class="description">
          Our API is straightforward and simple yet powerful to cover all your needs to serve images on the modern Web.
        </p>
      </div>
      <div class="video">
        <video controls="" autoplay="" loop="" muted="" width="1024" height="630">
          <source type="video/webm" src="/img/v2/homepage/pixboost-api-overview.webm">
          <source type="video/mp4" src="/img/v2/homepage/pixboost-api-overview.mp4">
        </video>
      </div>
    </div>
    <div class="background"></div>
  </section>

  <section id="what-you-get">
    <div class="content-wrapper">
      <p class="title">WHAT YOU GET</p>
      <h2>What you get with Pixboost</h2>
      <div class="row">
        <div>
          <img src="/img/v2/homepage/what-you-get/laptop-loading.svg" alt="laptop loading a website" width="420" height="400" loading="lazy"/>
        </div>
        <div>
          <p class="heading">Delivering your webpage faster</p>
          <p class="description">
            Images are the central content piece in many industries such as e-commerce and real estate.
            On average users won’t wait more than 3 seconds for a web page to load and feel discomfort if it
            takes more than 1 second. Therefore, improving page load time will make a purchase more likely and leave a
            customer with good memories, so they will come back in the future.
          </p>
          <div class="cta">
            <a class="btn btn-light" href="https://youtu.be/JFgzCkAw5a0" target="_blank">WATCH HOW</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div>
          <p class="heading">Improve SEO ranking by reducing load time</p>
          <p class="description">
            With the latest update, Google recognizes Core Web Vitals as a ranking signal.
            Using Pixboost Image CDN will improve your Largest Contentful Paint and First Input Delay metrics.
          </p>
          <div class="cta">
            <a class="btn btn-light" href="https://support.google.com/webmasters/answer/9205520?hl=en" target="_blank">READ WHY FROM GOOGLE</a>
          </div>
        </div>
        <div>
          <img src="/img/v2/homepage/what-you-get/person-browsing-internet.svg" width="420" height="400" alt="A person is surfing the Internet" loading="lazy"/>
        </div>
      </div>
      <div class="row">
        <div>
          <img src="/img/v2/homepage/what-you-get/person-holds-picture.svg" width="420" height="400" alt="A person hold picture in front of monitor" loading="lazy"/>
        </div>
        <div>
          <p class="heading">Spend less with a fully automated image solution</p>
          <p class="description">
            Pixboost API will produce all the image sizes and formats you need, so you can save on storage costs.
            Using our service will also reduce your CDN traffic by at least 30%, save on storage and image preparation costs.
          </p>
          <div class="cta">
            <a class="btn btn-light" href="https://help.pixboost.com/quick-start-10-minutes-or-less" target="_blank">EASY 6 STEPS TO START</a>
          </div>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </section>

  <section id="tools" class="content-wrapper">
    <div class="content">
      <p class="title">TOOLS</p>
      <h2>Integration made easy</h2>
      <div class="description">
        <p>We have a wide variety of tools tailored for different use cases:</p>

        <ul>
          <li>Simple API to integrate directly into HTML</li>
          <li>JS/React libraries for web application</li>
          <li>No-code “Snippet Generator” tool for content managers</li>
          <li>Ready to go Shopify snippets and themes</li>
        </ul>
      </div>
      <div class="cta">
        <a href="https://help.pixboost.com/" class="btn btn-lg btn-green">EXPLORE DOCS</a>
      </div>
    </div>
    <div class="screenshot">
      <picture>
        <source
            media="(-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.9999)"
            srcset="
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?dppx=2&size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?dppx=2&size=400&auth=NzM5MTYwMjAy 400w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?dppx=2&size=500&auth=NzM5MTYwMjAy 500w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?dppx=2&size=600&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?dppx=2&size=700&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?dppx=2&size=800&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/optimise?dppx=2&auth=NzM5MTYwMjAy 1168w
                  "
            sizes="
                (min-width: 768px) 600px,
                100vw
                  "
        >
        <source
            media="(-webkit-min-device-pixel-ratio: 3)"
            srcset="
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?dppx=3&size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?dppx=3&size=400&auth=NzM5MTYwMjAy 400w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?dppx=3&size=500&auth=NzM5MTYwMjAy 500w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?dppx=3&size=600&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?dppx=3&size=700&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?dppx=3&size=800&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/optimise?dppx=3&auth=NzM5MTYwMjAy 1168w
                  "
            sizes="
                (min-width: 768px) 600px,
                100vw
                  "
        >
        <img
            src="https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/optimise?auth=NzM5MTYwMjAy"
            srcset="
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?size=400&auth=NzM5MTYwMjAy 400w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?size=500&auth=NzM5MTYwMjAy 500w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?size=600&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?size=700&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/resize?size=800&auth=NzM5MTYwMjAy 600w,
                https://pixboost.com/api/2/img/website/homepage/tools/snippet-generator-screenshot.png/optimise?auth=NzM5MTYwMjAy 1168w
              "
            alt="snippet generator application screenshot"
            width="1168"
            height="1648"
            sizes="
                (min-width: 768px) 600px,
                100vw
              "
            loading="lazy"
        />
      </picture>
    </div>
  </section>

  <section id="features">
    <div class="content-wrapper frame">
      <p class="title">FEATURES</p>
      <h2>Everything to help you succeed</h2>
      <div class="cards">
        <div class="card">
          <div class="icon">
            <img src="/img/v2/homepage/features/resize.svg" width="56" height="56" alt="resize image icon" loading="lazy"/>
          </div>
          <h3>Image Processing</h3>
          <ul>
            <li>Resize and Optimise images</li>
            <li>Next Generation Formats - AVIF and WebP</li>
            <li>Responsive images</li>
          </ul>
        </div>
        <div class="card">
          <div class="icon">
            <img src="/img/v2/homepage/features/out-of-the-box-features.svg" width="60" height="54" alt="out of the box features icon" loading="lazy"/>
          </div>
          <h3>Content Delivery Network</h3>
          <ul>
            <li>HTTP/3 support</li>
            <li>140+ locations worldwide</li>
            <li>Cache Invalidation</li>
            <li>Custom Domain Name</li>
          </ul>
        </div>
        <div class="card">
          <div class="icon">
            <img src="/img/v2/homepage/features/api.svg" alt="API features icon" width="60" height="60" loading="lazy"/>
          </div>
          <h3>API</h3>
          <ul>
            <li>JavaScript and React libraries</li>
            <li>No-Code Snippet Generator for content managers</li>
            <li>Shopify support</li>
            <li>API workflows</li>
            <li>Open Source full-featured version</li>
          </ul>
        </div>
      </div>

      <div class="cta">
        <a  href="/customer/#/signup" onclick="window.trackSignup('Homepage: features')" class="btn btn-lg btn-green">
          SIGN UP
          <small>(Free plan, no CC required)</small>
        </a>
      </div>
    </div>
    <div class="background"></div>
  </section>

  <section id="clients">
    <div class="content-wrapper">
      <p class="title">YOU'RE IN A GOOD COMPANY</p>
      <h2>Clients who trust us</h2>
      <div class="brands">
        <img
            src="https://pixboost.com/api/2/img/website/homepage/clients/officeworks.png/resize?size=200&auth=NzM5MTYwMjAy"
            srcset="
                https://pixboost.com/api/2/img/website/homepage/clients/officeworks.png/resize?size=100&auth=NzM5MTYwMjAy 100w,
                https://pixboost.com/api/2/img/website/homepage/clients/officeworks.png/resize?size=200&auth=NzM5MTYwMjAy 200w,
                https://pixboost.com/api/2/img/website/homepage/clients/officeworks.png/resize?size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/clients/officeworks.png/optimise?auth=NzM5MTYwMjAy 368w
              "
            alt="officeworks.com.au logo"
            width="368"
            height="122"
            sizes="
                (min-width: 768px) 200px,
                100vw
              "
            loading="lazy"
        />
        <img src="/img/v2/homepage/clients/mryum.svg" alt="mryum.com logo" loading="lazy" width="1000" height="896"/>
        <img
            src="https://pixboost.com/api/2/img/website/homepage/clients/maria-valentina.png/resize?size=200&auth=NzM5MTYwMjAy"
            srcset="
                https://pixboost.com/api/2/img/website/homepage/clients/maria-valentina.png/resize?size=100&auth=NzM5MTYwMjAy 100w,
                https://pixboost.com/api/2/img/website/homepage/clients/maria-valentina.png/resize?size=200&auth=NzM5MTYwMjAy 200w,
                https://pixboost.com/api/2/img/website/homepage/clients/maria-valentina.png/resize?size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/clients/maria-valentina.png/resize?size=400&auth=NzM5MTYwMjAy 400w,
                https://pixboost.com/api/2/img/website/homepage/clients/maria-valentina.png/optimise?auth=NzM5MTYwMjAy 498w
              "
            alt="mariavalentinacancun.com logo"
            width="498"
            height="106"
            sizes="
                (min-width: 768px) 200px,
                100vw
              "
            loading="lazy"
        />
        <img src="/img/v2/homepage/clients/blackheart-and-sparrows.svg" alt="blackheartsandsparrows.com.au logo" loading="lazy" width="202" height="53"/>
        <img src="/img/v2/homepage/clients/tadaaz.svg" width="515" height="235" alt="tadaaz.be logo"  loading="lazy"/>
        <img
            src="https://pixboost.com/api/2/img/website/homepage/clients/nuestro-secreto.png/resize?size=200&auth=NzM5MTYwMjAy"
            srcset="
                https://pixboost.com/api/2/img/website/homepage/clients/nuestro-secreto.png/resize?size=100&auth=NzM5MTYwMjAy 100w,
                https://pixboost.com/api/2/img/website/homepage/clients/nuestro-secreto.png/resize?size=200&auth=NzM5MTYwMjAy 200w,
                https://pixboost.com/api/2/img/website/homepage/clients/nuestro-secreto.png/resize?size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/clients/nuestro-secreto.png/optimise?auth=NzM5MTYwMjAy 400w
              "
            alt="nuestrosecreto.com.mx logo"
            width="400"
            height="200"
            sizes="
                (min-width: 768px) 200px,
                100vw
              "
            loading="lazy"
        />
        <img
            src="https://pixboost.com/api/2/img/website/homepage/clients/elitesupps.png/resize?size=200&auth=NzM5MTYwMjAy"
            srcset="
                https://pixboost.com/api/2/img/website/homepage/clients/elitesupps.png/resize?size=100&auth=NzM5MTYwMjAy 100w,
                https://pixboost.com/api/2/img/website/homepage/clients/elitesupps.png/resize?size=200&auth=NzM5MTYwMjAy 200w,
                https://pixboost.com/api/2/img/website/homepage/clients/elitesupps.png/optimise?auth=NzM5MTYwMjAy 250w
              "
            alt="elitesupps.com.au logo"
            width="250"
            height="76"
            sizes="
                (min-width: 768px) 200px,
                100vw
              "
            loading="lazy"
        />
        <img
            src="https://pixboost.com/api/2/img/website/homepage/clients/pippo.png/resize?size=200&auth=NzM5MTYwMjAy"
            srcset="
                https://pixboost.com/api/2/img/website/homepage/clients/pippo.png/resize?size=100&auth=NzM5MTYwMjAy 100w,
                https://pixboost.com/api/2/img/website/homepage/clients/pippo.png/resize?size=200&auth=NzM5MTYwMjAy 200w,
                https://pixboost.com/api/2/img/website/homepage/clients/pippo.png/resize?size=300&auth=NzM5MTYwMjAy 300w,
                https://pixboost.com/api/2/img/website/homepage/clients/pippo.png/resize?size=400&auth=NzM5MTYwMjAy 400w,
                https://pixboost.com/api/2/img/website/homepage/clients/pippo.png/optimise?auth=NzM5MTYwMjAy 560w
              "
            alt="pipposportswear.com logo"
            width="560"
            height="359"
            sizes="
                (min-width: 768px) 200px,
                100vw
              "
            loading="lazy"
        />
      </div>
    </div>
    <div class="background"></div>
  </section>

  <section id="testimonials">
    <div class="content-wrapper">
      <p class="title">TESTIMONIALS</p>
      <h2>What clients say about us</h2>
      <div class="testimonials">
        <div class="testimonial">
          <p class="heading">Officeworks</p>
          <p class="text">
            With the Pixboost Image CDN and Optimisation Service running, we can now easily serve up
            compressed responsive images that still look great but reduce page load times dramatically.
            The service continues to run smoothly and has made the process of preparing images for the web so much easier.
          </p>
          <div class="author">
            <img
                src="https://pixboost.com/api/2/img/website/homepage/testimonials/daniel-gladki.jpg/resize?size=70&auth=NzM5MTYwMjAy"
                alt="Daniel Gladki"
                width="301"
                height="301"
                loading="lazy"/>
            <div class="name-and-title">
              <p><strong>Head of eCommerce, Officeworks</strong></p>
              <p>Daniel Gladki</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <p class="heading">Radical Media MX,</p>
          <p class="text">
            It was such a pleasure to work with Pixboost team. Pixboost crew delivered excellent work and proved to be
            exceptional web performance experts when we requested their help with Pixboost integration for our
            Shopify store - nuestrosecreto.com.mx. All communication was fast and efficient. A dedicated engineer not
            just integrated the site with the service, but helped us to identify and fix performance bottlenecks.
            We couldn’t ask for better results of our collaboration: reduced images size by more than 50% and
            improved load time by 4 seconds!
          </p>
          <div class="author">
            <img
                src="https://pixboost.com/api/2/img/website/homepage/testimonials/gerry-correa.jpeg/resize?size=70&auth=NzM5MTYwMjAy"
                alt="Gerry Correa"
                width="800"
                height="800"
                loading="lazy"/>
            <div class="name-and-title">
              <p><strong>CEO, Radical Media MX, Shopify Experts</strong></p>
              <p>Gerardo Correa Montero</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background"></div>
  </section>
</main>
{{ end }}