<footer class="header">
  <div class="center content">
    <div>
      <a href="/">
        <img src="/img/v2/logo-invert.svg" alt="Pixboost Logo" height="30"/>
      </a>

      <div class="social">
        <a href="https://facebook.com/pixboost">
          <img src="/img/v2/footer/facebook.svg" alt="Facebook logo"/>
        </a>
        <a href="https://twitter.com/pixboost">
          <img src="/img/v2/footer/twitter.svg" alt="Twitter logo"/>
        </a>
      </div>

      <p class="copyright">
        <small>© 2021 pixboost.com | All rights reserved.</small>
      </p>
    </div>

    <div class="menu">
      <div class="column">
        <p class="heading">Product</p>

        <a href="">Pricing</a>
        <a href="">API</a>
      </div>

      <div class="column">
        <p class="heading">Company</p>

        <a href="">About</a>
        <a href="">Blog</a>
        <a href="">Contacts</a>
      </div>

      <div class="column">
        <p class="heading">Support</p>

        <a href="">Newsletter</a>
        <a href="">FAQ</a>
        <a href="">Documentation</a>
        <a href="">Privacy Policy</a>
        <a href="">Terms and Conditions</a>
      </div>
    </div>
  </div>
</footer>