<footer class="header">
  <div class="center content">
    <div class="company-info">
      <a href="/">
        <img src="/img/v2/logo-invert.svg" alt="Pixboost Logo" height="30"/>
      </a>

      <div class="social">
        <a href="https://github.com/Pixboost">
          <img src="/img/v2/footer/github.svg" alt="Github logo"/>
        </a>
        <a href="https://twitter.com/pixboost">
          <img src="/img/v2/footer/twitter.svg" alt="Twitter logo"/>
        </a>
        <a href="https://facebook.com/pixboost">
          <img src="/img/v2/footer/facebook.svg" alt="Facebook logo"/>
        </a>
      </div>
    </div>

    <div class="menu">
      <div class="column">
        <p class="heading">Product</p>

        <a href="/prices/">Prices</a>
        <a href="/casestudy-officeworks/">Casestudy</a>
        <a href="/docs/api/">API</a>
      </div>

      <div class="column">
        <p class="heading">Company</p>

        <a href="/blog/">Blog</a>
        <a href="/newsletter/">Newsletter</a>
      </div>

      <div class="column">
        <p class="heading">Support</p>

        <a href="/faq/">FAQ</a>
        <a href="https://help.pixboost.com">Documentation</a>
        <a href="/privacy-policy/">Privacy Policy</a>
        <a href="/terms-of-service/">Terms and Conditions</a>
      </div>
    </div>
  </div>
  <div class="center">
    <p class="copyright">
      <small>© 2021 pixboost.com | All rights reserved.</small>
    </p>
  </div>
</footer>
<script src="/js/v2/main.js"></script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/7743989.js"></script>
<!-- End of HubSpot Embed Code -->
