<header>
  <a href="/">
    <img src="/img/v2/logo.svg" alt="Pixboost Logo"/>
  </a>
  <nav>
    <ul>
      <li><a href="/about/"  onclick="window.trackLink('About','about')">About</a></li>
      <li><a href="/prices/"  onclick="window.trackLink('Prices','prices')">Prices</a></li>
      <li><a href="/newsletter/" onclick="window.trackLink('Newsletter','newsletter')">Newsletter</a></li>
      <li><a href="https://help.pixboost.com" target="_blank" onclick="window.trackLink('Documentation','documentation')">Documentation</a></li>
      <li><a href="/blog/" onclick="window.trackLink('Blog','blog')">Blog</a></li>
    </ul>
  </nav>
</header>