<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="nav">
    <div class="brand-logo">
        <a href="/"><span class="pix">pix</span><span class="boost">boost</span></a>
    </div>
    <div class="spacer"></div>
    <div class="menu">
        <a href="/about.html" class="sm-hidden" onclick="window.trackLink('About','about')">About</a>
        <a href="/prices.html" class="sm-hidden" onclick="window.trackLink('Prices','prices')">Prices</a>
        <a href="/performance-newsletter.html" class="sm-hidden" onclick="window.trackLink('Newsletter','newsletter')">Newsletter</a>
        <a href="https://help.pixboost.com" class="sm-hidden" target="_blank"
           onclick="window.trackLink('Documentation','documentation')">Documentation</a>
        <a href="https://medium.com/pixboost" target="_blank" class="sm-hidden {{ if eq .Type "blog" }}selected{{end}}"
           onclick="window.trackLink('Blog','blog')">Blog</a>
        <img class="mobile-menu-button js-mobile-menu-button" src="/img/mobile-menu.svg" alt="menu"/>
    </div>
    <div class="menu-login sm-hidden">
        <a class="btn login" href="/customer/#login" onclick="window.trackLink('Login','login')">Login</a>
    </div>
</div>

<div class="mobile-menu">
    <div class="close">
        <img src="/img/chat/close.svg" width="32" height="32" style="color: rgb(56, 191, 177);" class="js-mobile-menu-close"
             alt="close"/>
    </div>
    <ul>
        <li><a href="/about.html" onclick="window.trackLink('About','about')">ABOUT</a></li>
        <li><a href="/prices.html" onclick="window.trackLink('Prices','prices')">PRICES</a></li>
        <li><a href="/performance-newsletter.html" onclick="window.trackLink('Newsletter','newsletter')">NEWSLETTER</a>
        </li>
        <li><a href="https://help.pixboost.com" target="_blank"
               onclick="window.trackLink('Documentation','documentation')">DOCUMENTATION</a></li>
        <li><a href="https://medium.com/pixboost" target="_blank" onclick="window.trackLink('Blog','blog')">BLOG</a>
        </li>
        <li><a href="/customer/#login" onclick="window.trackLink('Login','login')">LOGIN</a></li>
    </ul>
</div>

<div id="chat-window"></div>
<div class="js-chat chat-button">
    <img src="/img/chat/chat.svg" alt="chat"/>
</div>
